@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F4F3F4; */
    transition: all ease .5s;
}
html{
    height: 100%;
}
.darkApp{
    background-color: black;
    height: 100%;
    padding-bottom: 120px;
}

body::-webkit-scrollbar{
    width: 0;
}

.hide {
    display: none;
}

.navigation {
    width: 100%;
    display: flex;
    padding: 22px;
    height: 128px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.navigationDark {
    width: 100%;
    display: flex;
    padding: 22px;
    height: 128px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-left {
    width: 70%;
    display: flex;

}

.sideBarMenue {
    display: none;
}

.headDark {
    width: 30%;
    display: flex;
    align-items: center;
}

.headDark h2 {
    font-family: 'Inter Tight';
    user-select: none;
    text-shadow: 1px 1px 14px wheat;
    color: white;
}
.head {
    width: 30%;
    display: flex;
    align-items: center;
}

.head h2 {
    font-family: 'Inter Tight';
    user-select: none;
    text-shadow: 1px 1px 14px black;
}

.navigationDark nav {
    display: flex;
    width: 70%;
}

.navigationDark nav ul {
    display: flex;
    width: 100%;
    align-items: center;
}

.navigationDark nav ul li {
    list-style: none;
    padding: 22px;
}
.navigationDark nav ul li {
    list-style: none;
    padding: 22px;
    color: white;
}

.navigationDark nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navigation nav {
    display: flex;
    width: 70%;
}

.navigation nav ul {
    display: flex;
    width: 100%;
    align-items: center;
}

.navigation nav ul li {
    list-style: none;
    padding: 22px;
}

.navigation nav ul li a {
    color: #000;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-btn {
    width: 26%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-main {
    width: 62px;
    height: 28px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 12px 8px wheat;
}
.darkbtn-main {
    width: 62px;
    height: 28px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px 4px beige;
    background: white;
}

.btn {
    width: 32px;
    height: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    border-radius: 100%;
}

.togglebtn {
    width: 24px;
   background-image: url('./Components/Images/moon.png');
    background-size: cover;
    height: 24px;
    border: 0;
    border-radius: 100%;
    position: absolute;
    margin-left: -32px;
    cursor: pointer;
    transition: all ease .5s;
}

.togglebtn-2 {
    width: 24px;
     background-image: url('./Components/Images/sunny.png');
    background-size: cover;
    height: 24px;
    border: 0;
    border-radius: 100%;
    position: absolute;
    margin-left: 28px;
    cursor: pointer;
    transition: all ease .5s;
}

section {
    height: 100%;
    margin-top: 80px;
}
section h2{
    margin-left: 2rem;
}

.blog-post-1 {
    display: block;
    height: 28rem;
    margin: 4% auto;
    /* margin: 40px;
    margin-left: 0; */
    width: 70%;
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center; */
    border-radius: 8px;
    box-shadow: 1px 1px 10px;
}

.post-image {
    width: 100%;
    height: 50%;
    border-radius: 8px;
}

.post-image img {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
}

.post-text {
    width: 99%;
    margin-left: 1%;
    height: 9.5rem;
    overflow-y: scroll;
    display: block;
    padding: 8px;
    border-radius: 8px;
    word-wrap: break-word;
}

.post-text::-webkit-scrollbar {
    width: 0;
}

/* .text-gap {
    margin: 0 12px;
    text-transform: capitalize;
} */

.fa-magnifying-glass {
    font-size: 16px;
    cursor: pointer;
}

.search-sec {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 90%;
    margin: 0 5%;
    top: 120px;
}

.search-box {
    width: 90%;
}

.search-box input {
    height: 4%;
    width: 100%;
    font-size: 14px;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color: white;
    box-shadow: 1px 1px 12px 8px wheat;
}

.markinbx {
    position: absolute;
    background: transparent;
    cursor: pointer;
    margin-left: -24px;
    display: none;
    margin-top: 16.2px;
}

.btnremover {
    position: absolute;
    top: 12px;
    cursor: pointer;
    right: 24px;
    width: 12px;
    display: none;
    height: 12px;
    background-image: url('./Components/Images/close.png');
    background-size: cover;
}

.exbtnremover {
    position: absolute;
    top: 12px;
    cursor: pointer;
    right: 24px;
    width: 12px;
    display: block;
    height: 12px;
    background-image: url('./Components/Images/close.png');
    background-size: cover;
}

/* Source Code Page */

.row-lg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.col-sm-Dark {
    flex-basis: 28%;
    height: 20rem;
    margin: 2% 1.5%;
    box-sizing: border-box;
    box-shadow: 1px 1px 12px 8px wheat;
    border-radius: 8px;
    background-color: white;
}
.col-sm {
    flex-basis: 28%;
    height: 20rem;
    margin: 2% 1.5%;
    box-sizing: border-box;
    box-shadow: 1px 1px 12px 4px black;
    border-radius: 8px;
}

.project-card {
    width: 100%;
    height: 40%;
    display: block;
    /* padding: 6px; */
    /* padding-top: 2px; */
    padding: 0;
    padding-bottom: 8px;
}

.project-image {
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
}

.project-image img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    border-radius: 4px;

}

.project-desc::-webkit-scrollbar {
    width: 0;
}
.project-tittle{
    padding-left: 12px;
}

.project-desc {
    margin-top: 8px;
    overflow-y: scroll;
    height: 40px;
    width: 100%;
}

.actions {
    margin: 8% auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.actions button {
    border: 0;
    outline: none;
    margin: 4% 6%;
    cursor: pointer;
    background: transparent;
    border-radius: 100%;
}

.actions button i {
    font-size: 1.5rem;
}

/* Contact Page CSS */
.mysec {
    margin-top: 20px;
}

.form-boxDark {
    width: 480px;
    /* background-color: black; */
    background-color: rgba(255, 255, 255, 0.418);
    height: 512px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 8px;
}
.contactPageDark {
    width: 60%;
    height: 80%;
    border: 1px solid black;
    margin: 10% auto;
    padding: 8px 12%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px white;
}

.contactPageDark h2 {
    text-align: center;
    color: white;
}

.contactPageDark form {
    width: 100%;
    margin: 24px auto;
}

.contactPageDark form textarea {
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.contactPageDark form input {
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    height: 44px;
}

.heading {
    text-align: center;
    margin-top: 28px;
}
.contactPage {
    width: 60%;
    height: 80%;
    border: 1px solid black;
    margin: 10% auto;
    padding: 8px 12%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
}

.contactPage h2 {
    text-align: center;
}

.contactPage form {
    width: 100%;
    margin: 24px auto;
}

.contactPage form textarea {
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.contactPage form input {
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid grey;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    height: 44px;
}

.heading {
    text-align: center;
    margin-top: 28px;
}

@media (max-width:600px) {
    .col-sm-Dark {
        flex-basis: 100%;
        height: 20rem;
        margin: 8% 1.5%;
        box-sizing: border-box;
        box-shadow: 1px 1px 12px 8px wheat;
        border-radius: 8px;
        background-color: white;
    }
    .headDark {
        width: 50%;
    }
    .head {
        width: 50%;
    }

    .col-sm {
        flex-basis: 100%;
        background-color:#F4F3F4;
        padding: 8px;
        border-radius: 8px;
    }

    .project-card {
        width: 100%;
        height: 40%;
        display: block;
        /* padding: 6px;
        padding-top: 2px;
        padding-bottom: 8px; */
        padding-left: 4px;
    }

    .nav-left {
        width: 50%;
        display: none;
        justify-content: center;
        background-color: #ffffff;
        height: 480px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigationDark nav {
        display: block;
        width: 100%;
        background-color: #ffffff;
    }

    .navigationDark nav ul {
        display: block;
        width: 100%;
        margin: 10% auto;
        align-items: center;
        background-color: #ffffff;
    }

    .navigationDark nav ul li {
        list-style: none;
        padding: 22px;
        background-color: transparent;
        color: #000;
    }

    .navigationDark nav ul li a {
        background-color: transparent;
        color: black;
    }

    .navigation nav {
        display: block;
        width: 100%;
        background-color: #ffffff;
    }

    .navigation nav ul {
        display: block;
        width: 100%;
        margin: 10% auto;
        align-items: center;
        background-color: #ffffff;
    }

    .navigation nav ul li {
        list-style: none;
        padding: 22px;
        background-color: transparent;
    }

    .navigation nav ul li a {
        background-color: transparent;
    }
    .darkbtn-main {
        width: 62px;
        height: 28px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 8px 4px black;
        background: white;
    }
    .right-btn {
        width: 80%;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 1px 1px 10px #ffffff;
        display: flex;
        margin: auto;
        background-color: transparent;
    }
    .right-btn {
        width: 80%;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 1px 1px 10px #ffffff;
        display: flex;
        margin: auto;
        background-color: transparent;
    }

    .sideBarMenue {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .sideBarMenuesideBarMenueDark {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .fa-solidDark{
        color: white;
    }
    .sideBarMenuesideBarMenueDark li{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }

    /* section{
        display: none;
    } */
    .show {
        display: block;
        transition: all ease .5s;
    }

    .showSide {
        display: block;
        transition: all ease .5s;
        background: white;
        top: 0;
        position: absolute;
        right: 0;
        height: 420px;
    }

    .remove {
        display: none;
        transition: all ease .5s;
    }

    .btnremover {
        display: block;
    }

    .blog-post-1 {
        display: block;
        height: 100%;
        margin: 40px auto;
        width: 94%;
        border-radius: 8px;
        align-items: center;
        box-shadow: 1px 1px 10px;
    }
    .post-image{
        height: 40%;
        width: 100%;
    }
    .post-image img{
        height: 100%;
        width: 100%;
    }

    .post-text {
        width: 99%;
        margin-left: 1%;
        height: 8rem;
        display: flex;
        padding: 18px;
        padding-bottom: 28px;
        border-radius: 8px;
        overflow-y: scroll;
    }

    .post-text::-webkit-scrollbar {
        width: 0;
    }

    .search-box {
        width: 90%;
    }

    .search-box input {
        height: 2%;
        width: 100%;
        font-size: 14px;
        padding: 12px;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: white;
        box-shadow: 1px 2px 10px 6px;
    }

    .actions {
        margin: 8% auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .actions button {
        border: 0;
        outline: none;
        width: 40%;
        cursor: pointer;
        background: transparent;
        border-radius: 100%;
    }

    .actions button i {
        font-size: 1.5rem;
        background-color: transparent;
    }

    .actions button span {
        background-color: transparent;
    }

    .project-text {
        background: transparent;
        word-wrap: break-word;
    }

    .project-tittle {
        background-color: transparent;
        width: 100%;
    }

    .project-tittle h1 {
        background-color: transparent;
        color: black;
    }

    .actions {
        background-color: transparent;
    }

    .contactPageDark {
        width: 80%;
        height: 42%;
        border: 1px solid black;
        margin: 0% auto;
        bottom: 0;
        padding: 8px 12%;
        border-radius: 8px;
        box-shadow: 1px 1px 10px grey;
    }

    .contactPageDark h2 {
        text-align: center;
        color: white;
        background: transparent;
    }

    .contactPageDark form {
        width: 100%;
        margin: 24px auto;
    }

    .contactPageDark form input {
        width: 100%;
        margin: 8px auto;
        padding: 8px;
        height: 38px;
        border: 1px solid grey;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .contactPage {
        width: 80%;
        height: 42%;
        border: 1px solid black;
        margin: 0% auto;
        bottom: 0;
        padding: 8px 12%;
        border-radius: 8px;
        box-shadow: 1px 1px 10px grey;
    }

    .contactPage h2 {
        text-align: center;
    }

    .contactPage form {
        width: 100%;
        margin: 24px auto;
    }

    .contactPage form input {
        width: 100%;
        margin: 8px auto;
        padding: 8px;
        height: 38px;
        border: 1px solid grey;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .darkApp{
        background-color: black;
        min-height: 100vh;
        padding-bottom: 280px;
    }
}